body {
    background-color: #1d2127;
    color: #fff; 
    font-family: "cascadia code", monospace;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar{
    background-color: #464b55;
    padding: 10px;
    display: flex;
}

.logo { 
    width: 50px;
    height: 50px;
}

.table{
    display: flex;
    justify-content: center;
    margin-top: 0;
}

table{
    border: 1px solid black;
}

.month{
    color: #98c379;
    text-align: center;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: xx-large;
    background-color: #282c34;
    border: 1px solid black;
}

.tb{
    background-color: #282c34;
}

th{
padding:8px;
}

.day{
    color: #61afef;
}

.holidays{   
    color:#e04c34;
}

.sunday{
    color: black;
    font-weight: bold;
}